# Kafka
KAFKA_BROKER_URL=kafka:9092

# Database
POSTGRES_USER=surge_user
POSTGRES_PASSWORD=surge_password
POSTGRES_DB=surge_db
DATABASE_URL=postgresql://surge_user:surge_password@database:5432/surge_db

# Consumer group IDs
PRICING_GROUP_ID=pricing-engine-group
ANALYTICS_GROUP_ID=analytics-recorder-group

# Producer config
PRODUCER_INTERVAL_SECONDS=1
